<head>
<style>

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;

  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  border-radius:7px;
   
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  border-radius:7px;

  }


table
{
align:middle;
border-collapse:collapse;

}
td
{
height:50px;
vertical-align:top;
}




</style>
</head>
<body bgcolor="#D8D8D8">

<h2> Add New Product </h2>
<%= form_for @prodct,url:prodct_index_path do |f| %>
<% if @prodct.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@prodct.errors.count, "error") %> prohibited
      this product from being saved:</h2>
    <ul>
    <% @prodct.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <table width=30%>
  <tr>
  <td>
 Name: </td>
<td> <%= f.text_field :name %> </td>
</tr>
<tr>
<td>Description: </td> 
<td><%= f.text_area :description %> </td>
</tr>
<tr>
<td>

Img Url: </td> <td> <%= f.text_field :imgurl %> </td> </tr>
<tr>
<td>Price: </td> <td> <%= f.text_field :price %> </td> </tr>
<tr>
<td>Availability: </td>
<td>
<%= radio_button :prodct, :availability, 'In Stock' %>In Stock
<%= radio_button :prodct, :availability, 'Back ordered' %>Back ordered
</td>
</tr>
<tr>
<td>
<%= f.submit 'Create Product',class: 'button'%> </td> <td> <%= link_to 'Back', {:action => 'list'} %> </td>
</tr>
<% end %>
